// Colors
$primary-color: #464B8A;
$primary-color-dark: #2d3158;
$white: #fff;
$light-pink: #FFE8E8;
$text-color: rgba(255, 255, 255, 0.8);

// Layout
$max-width: 1200px;

// Typography
$primary-font: 'Inknut Antiqua', serif;
$secondary-font: 'Inria Sans', sans-serif;